@import "reset.css";
html,
body {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Muli', serif;
  text-align: left;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1rem;
  font-family: 'Muli-LightItalic', serif;
  letter-spacing: 1.2px;
  line-height: 1.5;
}
h5 {
  font-size: 0.75rem;
  font-family: 'Muli-LightItalic', serif;
  letter-spacing: 1.2px;
  line-height: 1.5;
}
p {
  color: #333;
  font-size: 1rem;
  font-family: 'Muli-Light', serif;
  letter-spacing: 1px;
  line-height: 1.5;
}
img {
  width: 100%;
}
.red {
  color: #e94c38;
}
.blue {
  color: #20bdbe;
}
.purple {
  color: #7961ab;
}
.orange {
  color: #f6862a;
}
.green {
  color: #a1cc3a;
}
section {
  padding: 6rem 1rem 0;
}
.content-wrap {
  max-width: 920px;
  margin: auto;
}
.inner-content {
  padding: 0 1rem 0;
  overflow: hidden;
}
.cover {
  height: 100vh;
  width: 100%;
  border: 1.25rem solid #e94c38;
  text-align: center;
  padding: 2rem;
}
.cover:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.cover-content {
  display: inline-block;
  vertical-align: middle;
  max-width: 485px;
}
.cover-logo {
  margin-bottom: 1rem;
  max-width: 320px;
}
.cover-nav-wrap {
  position: relative;
  top: 3rem;
  text-align: right;
  height: 0px;
  padding-right: 2rem;
}
.nav-links {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Muli', serif;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #000;
}
.nav-links h4 {
  display: inline-block;
  padding-right: 1.5rem;
  cursor: pointer;
}
.nav-links h4 a {
  text-decoration: none;
  color: inherit;
}
ol {
  font-family: 'Muli-LightItalic', serif;
  counter-reset: numberedList;
}
ol li {
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
ol li:before {
  counter-increment: numberedList;
  content: counter(numberedList) ".";
  font-weight: bold;
  font-family: 'Muli', serif;
  padding-right: 0.5rem;
}
ol li:last-child {
  margin-bottom: 0;
}
ol.five-steps li {
  width: 19%;
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.875rem;
}
ol.five-steps .title {
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
}
ol.five-steps .description {
  font-size: 0.75rem;
  font-family: 'Muli', serif;
}
.five-image-wrap {
  max-width: 250px;
  text-align: center;
  margin: 3rem auto 0;
}
.five-image-wrap img {
  width: 80%;
  margin-top: 1rem;
}
.profile-image {
  float: left;
  padding: 0 1rem 1rem 0;
  max-width: 220px;
}
.seperator {
  padding: 2rem 0;
}
.seperator:after {
  content: '';
  display: block;
  width: 6rem;
  height: 0.25rem;
  margin: auto;
  background-color: #7961ab;
}
section.button-wrap {
  padding: 4rem 0 5rem;
  text-align: center;
  border-bottom: 1.5rem solid #e94c38;
}
.button {
  display: inline-block;
  background-color: #20bdbe;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 5px;
  font-family: Muli;
  letter-spacing: 2px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.15s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover {
  background-color: #2ddbdc;
}
.button:active {
  background-color: #46dfe0;
}
.service-box {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  float: left;
  padding: 0.5rem;
  border: 4px solid;
}
.service-box:last-of-type {
  margin-right: 0;
}
.service-box h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem 0 1.5rem;
  font-family: 'Muli', serif;
}
.service-box ol {
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
  font-family: 'Muli', serif;
}
.service-box li {
  line-height: 1.5;
  padding-bottom: 0.25rem;
  color: #333;
  margin: 0;
}
.service-box li:before {
  display: none;
}
.service-box h4 {
  text-align: center;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: 'Muli', serif;
  letter-spacing: 2px;
  line-height: 1.5;
}
