@import "reset.css"
@import "variables"

html
body
	font-size 16px
	background-color #fff
	color $fontColor

h1
	font-size 1.5rem
	text-transform uppercase
	letter-spacing 2px
	font-family $font
	text-align left
	margin-bottom 2rem

h2
	font-size 1rem
	font-family $fontLightItalic
	letter-spacing 1.2px
	line-height 1.5

h5
	font-size 0.75rem
	font-family $fontLightItalic
	letter-spacing 1.2px
	line-height 1.5

p
	color $fontColor
	font-size 1rem
	font-family $fontLight
	letter-spacing 1px
	line-height 1.5

img
	width 100%

.red
	color $red
.blue
	color $blue
.purple
	color $purple
.orange
	color $orange
.green
	color $green

section
	padding 6rem 1rem 0

.content-wrap
	max-width 920px
	margin auto

.inner-content
	padding 0 1rem 0
	overflow hidden

.cover
	height 100vh
	width 100%
	border 1.25rem solid $red
	text-align center
	padding 2rem

	&:before
		content ''
		display inline-block
		height 100%
		vertical-align middle
		margin-right -0.25em

.cover-content
	display inline-block
	vertical-align middle
	max-width 485px

.cover-logo
	margin-bottom 1rem
	max-width 320px

.cover-nav-wrap
	position relative
	top 3rem
	text-align right
	height 0px
	padding-right 2rem


.nav-links
	text-transform uppercase
	display inline-block
	font-family $font
	letter-spacing 2px
	font-size 1rem
	color $darkerFont

	h4
		display inline-block
		padding-right 1.5rem
		cursor pointer

		a
			text-decoration none
			color inherit

ol
	font-family $fontLightItalic
	counter-reset numberedList

	li
		line-height 1.5
		letter-spacing 1.5px
		margin-bottom 1rem

		&:before
			counter-increment numberedList
			content counter(numberedList)"."
			font-weight bold
			font-family $font
			padding-right 0.5rem

		&:last-child
			margin-bottom 0

	&.five-steps

		li
			width 19%
			display inline-block
			padding 0.5rem
			font-size 0.875rem

		.title
			font-weight 800
			text-transform uppercase
			color $darkerFont

		.description
			font-size 0.75rem
			font-family $font

.five-image-wrap
	max-width 250px
	text-align center
	margin 3rem auto 0

	img
		width 80%
		margin-top 1rem

.profile-image
	float left
	padding 0 1rem 1rem 0
	max-width 220px

.seperator
	padding 2rem 0

	&:after
		content ''
		display block
		width 6rem
		height 0.25rem
		margin auto
		background-color $purple

section.button-wrap
	padding 4rem 0 5rem
	text-align center
	border-bottom 1.5rem solid $red

.button
	display inline-block
	background-color $blue
	padding 1rem 1.5rem
	color #fff
	text-transform uppercase
	line-height 1
	border-radius 5px
	font-family Muli
	letter-spacing 2px
	font-size 0.875rem
	cursor pointer
	transition background-color 0.15s
	no-select()

	&:hover
		background-color lighten($blue, 15%)

	&:active
		background-color lighten($blue, 25%)


.service-box
	display inline-block
	width 32%
	margin-right 2%
	float left
	padding 0.5rem
	border 4px solid

	&:last-of-type
		margin-right 0

	h2
		text-transform uppercase
		text-align center
		margin 0.5rem 0 1.5rem
		font-family $font

	ol
		font-size 0.875rem
		margin-bottom 2.5rem
		font-family $font

	li
		line-height 1.5
		padding-bottom 0.25rem
		color #333
		margin 0

		&:before
			display none

	h4
		text-align center
		margin-bottom 0.5rem
		text-transform uppercase
		font-family $font
		letter-spacing 2px
		line-height 1.5
