// VARIABLES
//-----------------

// Fonts

$font = 'Muli', serif
$fontLight = 'Muli-Light', serif
$fontLightItalic = 'Muli-LightItalic', serif


// Colors

$fontColor = #333333
$blue = #20BDBE
$red = #E94C38
$purple = #7961AB
$green = #A1CC3A
$orange = #F6862A
