// VARIABLES
//-----------------

// Fonts

$font = 'Muli', serif
$fontLight = 'Muli-Light', serif
$fontLightItalic = 'Muli-LightItalic', serif


// Colors

$fontColor = #333333
$darkerFont = #000000
$blue = #20BDBE
$red = #E94C38
$purple = #7961AB
$green = #A1CC3A
$orange = #F6862A

//Mixins

no-select()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

flex()
	display -webkit-flex
	display -ms-flexbox
	display flex

flexwrap()
	flex()
	-webkit-flex-wrap wrap
	-ms-flex-wrap wrap
	flex-wrap wrap